<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116753536-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116753536-1');
    </script>
    <title>Demon Video | Free Cult Horror Streaming</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
<%= render "layouts/header" %>

<div class="container about">
  <div class="row">
    <div class="col-md-12">
      <h2>Demon Video</h2>
      <p>
        DemonVideo.TV is a free horror streaming service, for tape heads by tape heads. Based off my favorite films in my VHS collection, Demon Video curates weird, obscure, and in some cases, downright terrible (in a so-bad-it's-good way) films for anyone to enjoy.
      </p>
      <p class="bold">
        If you have any feedback for the website, <a href="https://www.instagram.com/demonvideo.tv/">please don't hesitate to reach out!</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>